.git
.gitignore
.next
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
*.log
*.local
.env
.env.*
!.env.preview.template

docs
design_docs
data_for_explanation
data_tidy_up
json_data
note.html
tests
